.calendar-block{
  @media (max-width: 1500px){
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  @include media('<widescreen'){
    order: 3;
    width: 385px;
  }
  @include media('<phone'){
    width: 100%;
    height: auto;
  }

  .head{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow{
      padding: 10px;
      vertical-align: middle;
    }
  }
}
.calendar{
  height: 100%;

  .ui-datepicker-inline{
    height: 100%;
  }

  .ui-datepicker-header{
    background-color: #3a3e52;
    height: 95px;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #fff;
    font-size: 24.5px;

    @include media('<phone') {
      height: 65px;
    }
  }

  .ui-datepicker-month{
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media('<phone') {
      font-size: 20px;
    }
  }

  .ui-datepicker-year{
    display: none;
  }

  .ui-datepicker-calendar{
    padding: 28px 35px 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: calc(100% - 95px);

    @include media('<phone'){
      padding: 5px 10px 20px;
    }

    thead{
      line-height: 4;
    }

    a[class*='ui-state-']{
      @include size(23px);

      display: block;
      margin: 0 auto;
      line-height: 23px;
      color: #fff;
    }
  }

  .ui-datepicker-prev,
  .ui-datepicker-next{
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }
  }

  .ui-datepicker-prev{
    left: 10%;

    &:after{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      left: 50%;
      border-left: 2px solid #9ea3b4;
      border-top: 2px solid #9ea3b4;
    }
  }

  .ui-datepicker-next{
    right: 10%;

    &:after{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      left: 50%;
      border-right: 2px solid #9ea3b4;
      border-top: 2px solid #9ea3b4;
    }
  }

  .ui-icon{
    display: none;
  }

  .ui-state-active{
    background-color: #2492ea;
    border-radius: 50%;
  }
}