.circle-counters{
  margin-top: 37px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 40%;

  @media (max-width: 1500px){
    width: 65%;
  }
  @include media('<tablet'){
    margin-top: 10px;
  }

  .item{
    display: flex;
    align-items: center;
    margin-left: 35px;

    @include media('<desktop'){
      margin-left: 25px;
    }
    @include media('<tablet'){
      flex-direction: column;
    }
    @include media('<phone'){
      margin-left: 20px;
    }
  }

  .info{
    margin-left: 30px;
    display: flex;
    flex-direction: column;

    @include media('<tablet'){
      margin-left: 0;
      align-items: center;
    }
  }
  
  .counter{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;

    @include media('<phone'){
      font-size: 18px;
    }
  }
  
  .text{
    font-size: 16px;
    color: #9ca1b2;
    font-weight: bold;

    @include media('<phone'){
      font-size: 14px;
    }
  }

  .circle-counter{
    position: relative;
  }

  .percents{
    font-size: 22px;
    font-weight: bold;
    color: #2196f3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}