.circle-counters{
  margin: 37px 0 0 2%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 38%;
  padding-right: 5px;

  @include media('<tablet'){
    margin-top: 20px;
  }

  .item{
    display: flex;
    align-items: center;

    @include media('<tablet'){
      flex-direction: column;
    }

    & + .item{
      margin-left: 25px;

      @include media('<phone'){
        margin-left: 18px;
      }
    }
  }

  .info{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;

    @include media('<desktop'){
      margin-left: 20px;
    }
    @include media('<tablet'){
      margin-left: 0;
      align-items: center;
    }
  }
  
  .counter{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;

    @include media('<desktop'){
      font-size: 18px;
    }
  }
  
  .text{
    font-size: 16px;
    color: #9ca1b2;
    font-weight: bold;

    @include media('<phone'){
      font-size: 14px;
    }
  }

  .circle-counter{
    position: relative;
  }

  .value{
    font-size: 22px;
    font-weight: bold;
    color: #2196f3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 6px;
  }
}