.email-block{
  overflow: hidden;

  @include media('<widescreen'){
    order: 2;
  }

  .blue-text{
    color: #2196f3;
  }

  .email-item{
    height: 116px;
    display: flex;
    line-height: 2;
    padding: 15px 25px 10px;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include media('<desktop'){
      padding: 15px 10px;
    }
  }

  .img-wrap{
    min-width: 42px;

    @include media('<desktop'){
      flex-grow: 0;
    }
  }

  .description{
    margin-top: auto;
    margin-left: 20px;

    @include media('<desktop'){
      flex-grow: 1;
    }

    .title-date{
      display: flex;
      justify-content: space-between;
    }

    .title{
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 55%;
      overflow: hidden;

      &:hover{
        opacity: 0.8;
      }
    }

    .text{
      margin: 10px 0 0 0;
      line-height: 2;
    }
  }

  .date{
    white-space: nowrap;

    &.new{
      color: #2196f3;
    }
  }
}