.email-block{
  overflow: auto;

  @include media('<widescreen'){
    order: 2;
  }
  @include media('<tablet'){
    height: 300px;
  }

  .block-title{
    @include media('<phone') {
      font-size: 20px;
    }

    .count{
      color: #2196f3;
      background-color: transparent;
    }
  }

  .email-item{
    height: 116px;
    display: flex;
    line-height: 2;
    padding: 14px 25px 10px;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include media('<desktop'){
      padding: 15px 10px;
    }
  }

  .img-wrap{
    @include size(42px);

    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 11px;

    @include media('<desktop'){
      flex-grow: 0;
    }
  }

  .description{
    margin: auto 0 0 19px;

    @include media('<desktop'){
      flex-grow: 1;
    }

    .title-date{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .title{
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      white-space: nowrap;
      margin-right: 10px;

      &:hover{
        opacity: 0.8;
      }
    }

    .text{
      margin: 10px 0 0 0;
      line-height: 2;
    }
  }

  .date{
    &.new{
      color: #2196f3;
    }
  }
}