.project-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px 10px 24px;
  width: 100%;
  min-width: 292px;
  height: 95px;
  background-color: #3a3e52;

  .project-info{
    display: flex;
    align-items: center;
  }

  .img-wrap{
    max-width: 42px;
  }

  .description{
    margin-left: 22px;
  }

  .name{
    color: #fff;
    font-size: 16px;

    &:hover{
      opacity: 0.8;
    }
  }

  .link{
    &:hover{
      opacity: 0.8;
    }
  }

  .link-price{
    margin-top: 6px;
    display: flex;
    align-items: center;

    & > * + *{
      margin-left: 8px;
    }
  }

  .dot{
    @include size(4px);

    background-color: #9ca1b2;
    border-radius: 50%;
    position: relative;
    display: block;
  }

  .menu{
    padding: 12px 4px;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }

    .dot{
      &:before{
        @include size(4px);

        content: '';
        position: absolute;
        background-color: #9ca1b2;
        border-radius: 50%;
        top: -8px;
      }

      &:after{
        @include size(4px);

        content: '';
        position: absolute;
        background-color: #9ca1b2;
        border-radius: 50%;
        bottom: -8px;
      }
    }
  }
}