.project-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 24px;
  width: 100%;
  min-width: 292px;
  min-height: 91px;
  background-color: #3a3e52;

  .project-info{
    display: flex;
    align-items: center;
  }

  .img-wrap{
    @include size(42px);

    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  .description{
    margin-left: 24px;
    padding-bottom: 3px;
  }

  .name{
    color: #fff;
    font-size: 16px;
    font-weight: bold;

    &:hover{
      opacity: 0.8;
    }
  }

  .link{
    &:hover{
      opacity: 0.8;
    }
  }

  .link-price{
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .dot{
    @include size(4px);

    background-color: #9ca1b2;
    border-radius: 50%;
    position: relative;
    display: block;
    margin-left: 12px;
  }

  .price{
    margin-left: 12px;
  }

  .menu{
    padding: 12px 4px;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }

    .dot{
      @include size(3px, 4px);

      &:before{
        @include size(3px, 4px);

        content: '';
        position: absolute;
        background-color: #9ca1b2;
        border-radius: 50%;
        top: -6px;
      }

      &:after{
        @include size(3px, 4px);

        content: '';
        position: absolute;
        background-color: #9ca1b2;
        border-radius: 50%;
        bottom: -6px;
      }
    }
  }
}