.status-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 23px 10px 0;
  width: 100%;
  height: 75px;

  .status-info{
    display: flex;
    flex-direction: column;
  }

  .title{
    color: #fff;
    font-size: 16px;
  }

  .details{
    margin-top: 6px;
    display: flex;
    align-items: center;

    & > * + *{
      margin-left: 8px;
    }
    
    .price{
      color: #2196f3;
    }
  }

  .dot{
    @include size(4px);

    background-color: #9ca1b2;
    border-radius: 50%;
  }
}