.status-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-bottom: 22px;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 28px;
    border-right: 2px solid #9ea3b4;
    border-top: 2px solid #9ea3b4;
  }

  .status-info{
    display: flex;
    flex-direction: column;
  }

  .title{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }

  .details{
    margin-top: 3px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    .dot{
      margin-left: 10px;
    }
    
    .price{
      color: #2196f3;
      margin-left: 10px;
    }
  }

  .dot{
    @include size(4px);

    background-color: #9ca1b2;
    border-radius: 50%;
  }
}