#user-menu {
  @extend %listreset;

  display: flex;
  align-items: center;

  li {
    &:hover{
      .item{
        opacity: 0.8;
      }
    }

    & + li {
      margin-left: 40px;
    }
  }

  .add-btn {
    padding-right: 20px;

    .icon-plus {
      font-size: 32px;
      vertical-align: sub;
      line-height: 0;
      color: #2196f3;
      margin-left: 25px;
    }
  }

  .item-icon{
    display: block;

    .img-wrap{
      max-width: 23px;
    }
  }

  .notify{
    position: relative;

    &:after{
      @include size(15px);

      content: '';
      position: absolute;
      background-color: #2196f3;
      border: 3px solid #2f3242;
      border-radius: 50%;
      right: -5px;
      top: -2px;
    }
  }

  .item-user{
    display: flex;
    align-items: center;

    .img-wrap{
      @include size(56px);

      border-radius: 50%;
      overflow: hidden;
    }

    .arrow-down{
      margin-left: 10px;
    }
  }
}