.user-menu {
  @extend %listreset;

  display: flex;
  align-items: center;
  margin-right: 25px;

  li {
    &:hover{
      .item{
        opacity: 0.8;
      }
    }

    & + li {
      margin-left: 56px;

      @include media('<tablet'){
        margin-left: 20px;
      }
      @include media('<phone'){
        margin-left: 12px;
      }
    }
  }

  .add-btn {
    padding-right: 20px;
    position: relative;

    @include media('<tablet'){
      @include size(30px);
      padding: 0;
    }

    .icon-plus {
      font-size: 28px;
      line-height: 0;
      color: #2196f3;
      margin-left: 25px;

      @include media('<tablet'){
        font-size: 20px;
        position: absolute;
        top: 40%;
        left: -65%;
      }
    }

    .text{
      @include media('<tablet'){
        display: none;
      }
    }
  }

  .item-icon{
    display: block;

    @include media('<phone'){
      width: 18px;
    }

    .img-wrap{
      max-width: 23px;
    }

    .icon-bell,
    .icon-search{
      font-size: 36px;
      color: #fff;

      @include media('<tablet'){
        font-size: 28px;
      }
      @include media('<phone'){
        font-size: 24px;
      }
    }
  }

  .notify{
    position: relative;

    &:after{
      @include size(17px);

      content: '';
      position: absolute;
      background-color: #2196f3;
      border: 3px solid #2f3242;
      border-radius: 50%;
      right: -11px;
      top: 2px;

      @include media('<tablet'){
        @include size(15px);

        top: 0;
        right: -5px;
      }
      @include media('<phone'){
        @include size(12px);

        right: -6px;
      }
    }
  }

  .item-user{
    display: flex;
    align-items: center;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: -21px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }

    .img-wrap{
      @include size(56px);

      border-radius: 50%;
      overflow: hidden;

      @include media('<phone'){
        @include size(35px);
      }
    }

    .arrow-down{
      margin-left: 10px;

      @include media('<phone'){
        margin-left: 5px;
        width: 8px;
      }
    }
  }
}