.user-menu {
  @extend %listreset;

  display: flex;
  align-items: center;

  li {
    &:hover{
      .item{
        opacity: 0.8;
      }
    }

    & + li {
      margin-left: 40px;

      @include media('<tablet'){
        margin-left: 20px;
      }
      @include media('<phone'){
        margin-left: 15px;
      }
    }
  }

  .add-btn {
    padding-right: 20px;

    @include media('<tablet'){
      padding: 10px 12px;
    }
    @include media('<phone'){
      padding: 5px 9px;
    }

    .icon-plus {
      font-size: 32px;
      vertical-align: sub;
      line-height: 0;
      color: #2196f3;
      margin-left: 25px;

      @include media('<tablet'){
        margin-left: 0;
      }
      @include media('<phone'){
        font-size: 22px;
        vertical-align: middle;
      }
    }

    .text{
      @include media('<tablet'){
        display: none;
      }
    }
  }

  .item-icon{
    display: block;

    @include media('<phone'){
      width: 18px;
    }

    .img-wrap{
      max-width: 23px;
    }
  }

  .notify{
    position: relative;

    &:after{
      @include size(15px);

      content: '';
      position: absolute;
      background-color: #2196f3;
      border: 3px solid #2f3242;
      border-radius: 50%;
      right: -5px;
      top: -2px;
    }
  }

  .item-user{
    display: flex;
    align-items: center;

    .img-wrap{
      @include size(56px);

      border-radius: 50%;
      overflow: hidden;

      @include media('<phone'){
        @include size(35px);
      }
    }

    .arrow-down{
      margin-left: 10px;

      @include media('<phone'){
        margin-left: 5px;
        width: 8px;
      }
    }
  }
}