.home-content-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 95px;
  margin-left: 95px;
  padding: 63px 23px 0 60px;

  @include media('<desktop'){
    padding: 35px 10px 0 25px;
  }
  @include media('<tablet'){
    flex-direction: column;
    margin-top: 140px;
    margin-left: 0;
    padding: 35px 10px 15px;
  }

  & > *{
    margin-bottom: 1%;

    @include media('<desktop'){
      margin-bottom: 3%;
    }
  }
}
.default-block{
  width: 26%;
  background-color: #2f3242;
  height: 400px;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.2);

  @media (max-width: 1500px){
    width: 34%;
  }
  @include media('<widescreen'){
    width: 49.5%;
  }
  @include media('<desktop'){
    width: 100%;
  }

  .head{
    background-color: #3a3e52;
    height: 95px;
    text-align: center;
    line-height: 95px;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  }

  .block-title{
    color: #fff;
    margin: 0;
  }

  .item{
    border-bottom: 1px solid #505464;
  }
}
.views-chart-wrap{
  width: 72.5%;
  background-color: #2f3242;
  height: 476px;
  overflow: hidden;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.2);

  @media (max-width: 1500px){
    width: 65%;
  }
  @include media('<widescreen'){
    width: 100%;
    height: 400px;
  }
  @include media('<phone'){
    height: 300px;
  }
}
.your-projects-block{
  height: 476px;
  overflow: hidden;

  @include media('<widescreen'){
    order: 1;
    height: 400px;
  }
  
  .project-item{
    background-color: #2f3242;
  }
}
.sales-chart-wrap{
  width: 45%;
  height: 400px;
  position: relative;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.2);

  @media (max-width: 1500px){
    width: 65%;
  }
  @include media('<widescreen'){
    width: 100%;
  }
  @include media('<phone'){
    height: 300px;
  }

  .block-title{
    position: absolute;
    top: 33px;
    left: 35px;
    color: #fff;
    z-index: 1;
  }

  .select-wrap{
    position: absolute;
    top: 28px;
    right: 25px;

    @include media('<phone'){
      top: 50px;
    }

    &:after{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 24px;
      border-right: 2px solid #9ea3b4;
      border-bottom: 2px solid #9ea3b4;
    }
  }

  .select-text{
    font-weight: bold;
    font-size: 16px;

    @include media('<phone') {
      display: none;
    }
  }

  .sales-select{
    cursor: pointer;
    margin-left: 20px;
    z-index: 1;
    font-size: 16px;
    width: 160px;
    height: 38px;
    outline: 0;
    padding: 0 24px;
    color: #9ea3b4;
    border: 1px solid #515464;
    border-radius: 19px;
    background-color: transparent;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include media('<phone'){
      width: 100px;
      height: 30px;
      font-size: 12px;
    }

    option{
      background-color: #2f3242;
    }
  }
}
.email-block{
  overflow: hidden;
  width: 26%;

  @include media('<widescreen'){
    order: 2;
  }

  .blue-text{
    color: #2196f3;
  }

  .email-item{
    height: 116px;
    display: flex;
    line-height: 2;
    padding: 20px 25px 10px 25px;
    display: flex;
    align-items: center;
  }

  .img-wrap{
    width: 60px;

    @include media('<desktop'){
      flex-grow: 0;
    }
  }

  .description{
    margin-left: 22px;

    @include media('<desktop'){
      flex-grow: 1;
    }

    .title-date{
      display: flex;
      justify-content: space-between;
    }

    .title{
      font-weight: bold;
      font-size: 16px;
      color: #fff;

      &:hover{
        opacity: 0.8;
      }
    }

    .text{
      margin: 10px 0 0 0;
      line-height: 2;
    }
  }

  .date{
    &.new{
      color: #2196f3;
    }
  }
}
.calendar-block{
  @include media('<widescreen'){
    order: 3;
    width: 385px;
  }
  @include media('<tablet'){
    margin-left: auto;
    margin-right: auto;
  }
  @include media('<phone'){
    width: 100%;
  }

  .head{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow{
      padding: 10px;
      vertical-align: middle;
    }
  }
}