.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 95px;
  background-color: #2f3242;
  box-shadow: 0 3px 80px rgba(0, 0, 0, 0.2);

  @include media('<tablet'){
    padding: 0 10px;
    min-height: 70px;
  }

  .logo-wrap{
    @include media('<tablet'){
      max-width: 40%;
    }
  }
}